textarea.left-textarea {
    width: 210mm;
    height: 297mm;
    /* 字体大小 */
    font-size: 12px;
    /* 行高 */
    line-height: 18px;
    margin-left: 10px;
}
textarea.right-textarea {
    /* 1 in = 25.4 mm = 96 px */
    width: 210mm; /* 210 * 96 / 25.4 = 793.7 px */
    height: 297mm; /* 297 * 96 / 25.4 = 1122.52 px */
}
img {
    width: 32px;
    height: 32px;
}
